.cover {
    height: 400px;
    color: darkslategray;
    background-image: url(file:///C:/Users/usuario/Downloads/rsz_1malusi-msomi-4xtaqmn9lae-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}
.cover-small {
    height: 200px;
    background-blend-mode: normal;
}
.card {
    border: 0 !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.6), 0 2px 4px -1px rgba(0, 0, 0, 0.6);
}
.card-title {
    min-height: 1rem;
}
.card-text {
    min-height: 1rem;
}
a {
    text-decoration: none;
    color: rgb(114, 114, 114);
}
a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
h1 {
    text-align: center;
}
.appWhatsapp {
    position: fixed;
    right: 26px;
    bottom: 100px;
    width: 60px;
    z-index: 1000;
}
.appWhatsapp img {
    width: 100%;
    height: auto;
}